In [2]:
import configparser

In [3]:
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))

DB_NAME = config.get("CLUSTER","DB_NAME")
DB_USER = config.get("CLUSTER","DB_USER")
DB_PASSWORD = config.get("CLUSTER","DB_PASSWORD")
DB_PORT = config.get("CLUSTER","DB_PORT")
DB_HOST = config.get("CLUSTER","HOST")

ARN = config.get("IAM_ROLE","ARN")

LOG_DATA = config.get("S3", "LOG_DATA")
LOG_JSONPATH = config.get("S3", "LOG_JSONPATH")
SONG_DATA = config.get("S3", "SONG_DATA")

In [4]:
%load_ext sql

In [5]:
conn_string="postgresql://{}:{}@{}:{}/{}".format(DB_USER, DB_PASSWORD, DB_HOST, DB_PORT, DB_NAME)
print(conn_string)
%sql $conn_string

postgresql://awsuser:fuckingCovid19!!@redshift-cluster.cr4bzpvdzv9c.us-west-2.redshift.amazonaws.com:5439/dev

'Connected: awsuser@dev'

In [7]:
%run -i 'create_tables'

In [8]:
%run -i 'etl'

# Load staging_songs_table
#### Create songs staging table

In [8]:
%%sql 
DROP TABLE IF EXISTS staging_songs_table;
CREATE TABLE "staging_songs_table" (
    num_songs varchar(25), 
    artist_id varchar(25),
    artist_longitude float,
    artist_latitude float,
    artist_location varchar(256),
    artist_name varchar(256),
    song_id varchar(32),
    title varchar(256),
    duration float8,
    year integer
);

 * postgresql://dwhuser:***@dwhcluster.coh0h3ruhibv.us-west-2.redshift.amazonaws.com:5439/dwh
Done.
Done.

[]

#### Load values into staging_songs_table

In [71]:
%%time
query = """
    copy staging_songs_table 
    from '{}'
    credentials 'aws_iam_role={}'
    compupdate off region 'us-west-2'
    json 'auto';""".format(SONG_DATA, ARN)
%sql $query

 * postgresql://awsuser:***@redshift-cluster.cr4bzpvdzv9c.us-west-2.redshift.amazonaws.com:5439/dev
Done.
CPU times: user 4.3 ms, sys: 899 Âµs, total: 5.2 ms
Wall time: 9min 43s

#### Table data check

In [9]:
%%sql 
select * FROM staging_songs_table
LIMIT 5;

 * postgresql://awsuser:***@redshift-cluster.cr4bzpvdzv9c.us-west-2.redshift.amazonaws.com:5439/dev
5 rows affected.

[('1', 'AR73AIO1187B9AD57B', -122.42005, 37.77916, 'San Francisco, CA', 'Western Addiction', 'SOQPWCR12A6D4FB2A3', 'A Poor Recipe For Civic Cohesion', 118.07302, 2005),
 ('1', 'ARC1IHZ1187FB4E920', None, None, '', 'Jamie Cullum', 'SOXZYWX12A6310ED0C', "It's About Time", 246.9873, 0),
 ('1', 'ARGE7G11187FB37E05', None, None, 'Brooklyn, NY', 'Cyndi Lauper', 'SONRWUU12AF72A4283', 'Into The Nightlife', 240.63955, 2008),
 ('1', 'ARBZIN01187FB362CC', 103.78871, 1.32026, '27', 'Paris Hilton', 'SOERIDA12A6D4F8506', 'I Want You (Album Version)', 192.28689, 2006),
 ('1', 'ARTC1LV1187B9A4858', -0.01802, 51.4536, "Goldsmith's College, Lewisham, Lo", 'The Bonzo Dog Band', 'SOAFBCP12A8C13CC7D', 'King Of Scurf (2007 Digital Remaster)', 301.40036, 1972)]

# Load staging_events_table
#### Create events staging table

In [11]:
%%sql 
DROP TABLE IF EXISTS "staging_events_table";
CREATE TABLE "staging_events_table" (
    artist varchar(256),
    auth varchar(25),
    firstName varchar(128),
    gender varchar(2),
    iteminSession integer,
    lastName varchar(128),
    length float8,
    level varchar(10),
    location varchar(128),
    method varchar(5),
    page varchar(22),
    registration bigint,
    sessionid integer,
    song varchar,
    status integer,
    ts timestamp,
    useragent varchar(256),
    userId integer
);

 * postgresql://dwhuser:***@dwhcluster.coh0h3ruhibv.us-west-2.redshift.amazonaws.com:5439/dwh
Done.
Done.

[]

#### Load values into staging_events_table

In [73]:
%%time
query = """
    copy staging_events_table 
    from '{}'
    credentials 'aws_iam_role={}'
    region 'us-west-2' compupdate off 
    JSON '{}'
    TIMEFORMAT as 'epochmillisecs';""".format(LOG_DATA, ARN, LOG_JSONPATH)
%sql $query

 * postgresql://awsuser:***@redshift-cluster.cr4bzpvdzv9c.us-west-2.redshift.amazonaws.com:5439/dev
Done.
CPU times: user 5.04 ms, sys: 0 ns, total: 5.04 ms
Wall time: 2.75 s

#### Table data check

In [50]:
%%sql 
select * 
FROM staging_events_table 
LIMIT 5;

 * postgresql://awsuser:***@redshift-cluster.cr4bzpvdzv9c.us-west-2.redshift.amazonaws.com:5439/dev
5 rows affected.

[('N.E.R.D. FEATURING MALICE', 'Logged In', 'Jayden', 'M', 0, 'Fox', 288.9922, 'free', 'New Orleans-Metairie, LA', 'PUT', 'NextSong', 1541033612796, 184, 'Am I High (Feat. Malice)', 200, datetime.datetime(2018, 11, 2, 1, 25, 34, 796000), '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"', 101),
 (None, 'Logged In', 'Stefany', 'F', 0, 'White', None, 'free', 'Lubbock, TX', 'GET', 'Home', 1540708070796, 82, None, 200, datetime.datetime(2018, 11, 2, 1, 29, 36, 796000), '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"', 83),
 ('Death Cab for Cutie', 'Logged In', 'Stefany', 'F', 1, 'White', 216.42404, 'free', 'Lubbock, TX', 'PUT', 'NextSong', 1540708070796, 82, 'A Lack Of Color (Album Version)', 200, datetime.datetime(2018, 11, 2, 1, 30, 41, 796000), '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"', 83),
 ('Tracy Gang Pussy', 'Logged In', 'Stefany', 'F', 2, 'White', 221.33506, 'free', 'Lubbock, TX', 'PUT', 'NextSong', 1540708070796, 82, 'I Have A Wish', 200, datetime.datetime(2018, 11, 2, 1, 34, 17, 796000), '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"', 83),
 ('Skillet', 'Logged In', 'Kevin', 'M', 0, 'Arellano', 178.02404, 'free', 'Harrisburg-Carlisle, PA', 'PUT', 'NextSong', 1540006905796, 153, 'Monster (Album Version)', 200, datetime.datetime(2018, 11, 2, 2, 42, 48, 796000), '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"', 66)]

# Load users Dimension
#### Create users dimension table

In [14]:
%%sql 
DROP TABLE IF EXISTS "users";
CREATE TABLE "users" (
    user_id varchar(64) not null,
    first_name varchar(256) not null,
    last_name varchar(256) not null,
    gender varchar(8) not null,
    level varchar (16) not null,
    primary key(user_id)
)
DISTSTYLE ALL
SORTKEY ("level", "user_id");

 * postgresql://dwhuser:***@dwhcluster.coh0h3ruhibv.us-west-2.redshift.amazonaws.com:5439/dwh
Done.
Done.

[]

#### Load values into users dimension table

In [75]:
%%sql 
INSERT into users(user_id,first_name,last_name,gender,level)
SELECT distinct userId AS user_id,firstName as first_name,lastNAme AS last_name,gender,level 
from staging_events_table
where userId is not null;

 * postgresql://awsuser:***@redshift-cluster.cr4bzpvdzv9c.us-west-2.redshift.amazonaws.com:5439/dev
105 rows affected.

[]

#### Table data check

In [48]:
%%sql 
select * 
FROM users
Limit 5;

 * postgresql://awsuser:***@redshift-cluster.cr4bzpvdzv9c.us-west-2.redshift.amazonaws.com:5439/dev
5 rows affected.

[('10', 'Sylvie', 'Cruz', 'F', 'free'),
 ('100', 'Adler', 'Barrera', 'M', 'free'),
 ('101', 'Jayden', 'Fox', 'M', 'free'),
 ('11', 'Christian', 'Porter', 'F', 'free'),
 ('12', 'Austin', 'Rosales', 'M', 'free')]

# Load Songs Dimension
#### Create songs dimension table

In [18]:
%%sql 
DROP TABLE IF EXISTS "songs";
CREATE TABLE "songs" (
    song_id varchar(64) not null sortkey,
    title varchar(256) not null,
    artist_id varchar(64) not null distkey,
    year integer not null,
    duration float8 not null,
    primary key(song_id)
);

 * postgresql://dwhuser:***@dwhcluster.coh0h3ruhibv.us-west-2.redshift.amazonaws.com:5439/dwh
Done.
Done.

[]

#### Load values into songs dimension table

In [77]:
%%sql 
INSERT into songs(song_id,title,artist_id,year,duration)
SELECT distinct song_id,title,artist_id,year,duration 
from staging_songs_table;

 * postgresql://awsuser:***@redshift-cluster.cr4bzpvdzv9c.us-west-2.redshift.amazonaws.com:5439/dev
14896 rows affected.

[]

#### Table data check

In [78]:
%%sql 
SELECT * 
from songs
ORDER BY 1, 2, 3, 4, 5
LIMIT 10;

 * postgresql://awsuser:***@redshift-cluster.cr4bzpvdzv9c.us-west-2.redshift.amazonaws.com:5439/dev
10 rows affected.

[('SOAAAQN12AB01856D3', 'Campeones De La Vida', 'ARAMIDF1187FB3D8D4', 0, 153.36444),
 ('SOAACFC12A8C140567', 'Supernatural Pt. II', 'ARNHTE41187B99289A', 0, 343.09179),
 ('SOAACTC12AB0186A20', 'Christmas Is Coming Soon', 'ARXWFZ21187FB43A0B', 2008, 180.76689),
 ('SOAADAD12A8C13D5B0', 'One Shot (Album Version)', 'ARQTC851187B9B03AF', 2005, 263.99302),
 ('SOAADJH12AB018BD30', 'Black Light (Album Version)', 'AR3FKJ61187B990357', 1975, 385.90649),
 ('SOAADUU12AB0183B6F', 'Intro / Locataire (Instrumental)', 'AR70XXH1187FB44B55', 0, 101.92934),
 ('SOAAEHR12A6D4FB060', 'Slaves & Bulldozers', 'AR5N8VN1187FB37A4E', 1991, 415.81669),
 ('SOAAETA12A6D4FC626', 'Shine', 'ARQXK0B1187B9ACC97', 2007, 448.23465),
 ('SOAAFHQ12A6D4F836E', "Ridin' Rims (Explicit Album Version)", 'AR3CQ2D1187B9B1953', 2006, 322.84689),
 ('SOAAFUV12AB018831D', 'Where Do The Children Play? (LP Version)', 'AR5ZGC11187FB417A3', 0, 216.05832)]

# Load artists Dimension
#### Create artists dimension table

In [21]:
%%sql 
DROP TABLE IF EXISTS "artists";
CREATE TABLE "artists" (
    artist_id varchar(64) not null sortkey,
    name varchar(256) not null,
    location varchar(256) not null,
    lattitude float,
    longitude float,
    primary key(artist_id)
);

 * postgresql://dwhuser:***@dwhcluster.coh0h3ruhibv.us-west-2.redshift.amazonaws.com:5439/dwh
Done.
Done.

[]

#### Load values into artists dimension table

In [79]:
%%sql 
INSERT into artists(artist_id, name, location, lattitude, longitude)
SELECT distinct artist_id, artist_name as name, coalesce(artist_location,'') as location, artist_latitude as lattitude, artist_longitude as longitude 
from staging_songs_table;

 * postgresql://awsuser:***@redshift-cluster.cr4bzpvdzv9c.us-west-2.redshift.amazonaws.com:5439/dev
10025 rows affected.

[]

#### Table data check

In [80]:
%%sql
SELECT artist_id, name, location, lattitude, longitude 
FROM artists
ORDER BY 2, 1, 3, 4, 5
LIMIT 5

 * postgresql://awsuser:***@redshift-cluster.cr4bzpvdzv9c.us-west-2.redshift.amazonaws.com:5439/dev
5 rows affected.

[('ARTW7I31187B9A4CA9', '!!!', '', None, None),
 ('ARRPWJ81187B99FB84', '& And Oceans', '', None, None),
 ('ARY35JW1187B998233', "'68 Comeback", '', None, None),
 ('ARHZZOQ1187B9AE734', "'t Hof Van Commerce", '', None, None),
 ('AR1NRFQ1187B994284', '-123min.', '', None, None)]

# Load time Dimension
#### Create time dimension table

In [24]:
%%sql 
DROP TABLE IF EXISTS "time";
CREATE TABLE "time" (
    start_time          timestamp       not null,
    hour                integer         not null,
    day                 integer         not null,
    week                integer         not null,
    month               integer         not null,
    year                integer         not null,
    weekday             boolean         not null,
    primary key(start_time)
);

 * postgresql://dwhuser:***@dwhcluster.coh0h3ruhibv.us-west-2.redshift.amazonaws.com:5439/dwh
Done.
Done.

[]

#### Load values into time dimension table

In [81]:
%%sql 
INSERT into time(start_time, hour, day, week, month, year, weekday)
SELECT distinct ts as start_time, extract(hour from ts) as hour, extract(day from ts) as day, extract(week from ts) as week, extract(month from ts) as month,
    extract(year from ts) as year, extract(weekday from ts) as weekday
from staging_events_table a
where ts is NOT NULL
Order by a.ts desc;

 * postgresql://awsuser:***@redshift-cluster.cr4bzpvdzv9c.us-west-2.redshift.amazonaws.com:5439/dev
8023 rows affected.

[]

#### Table data check

In [82]:
%%sql 
SELECT *
from time
LIMIT 5;

 * postgresql://awsuser:***@redshift-cluster.cr4bzpvdzv9c.us-west-2.redshift.amazonaws.com:5439/dev
5 rows affected.

[(datetime.datetime(2018, 11, 2, 1, 25, 34, 796000), 1, 2, 44, 11, 2018, True),
 (datetime.datetime(2018, 11, 2, 1, 30, 41, 796000), 1, 2, 44, 11, 2018, True),
 (datetime.datetime(2018, 11, 2, 2, 42, 48, 796000), 2, 2, 44, 11, 2018, True),
 (datetime.datetime(2018, 11, 2, 3, 32, 41, 796000), 3, 2, 44, 11, 2018, True),
 (datetime.datetime(2018, 11, 2, 5, 15, 41, 796000), 5, 2, 44, 11, 2018, True)]

## Songplays fact table
#### Create songplays fact table

In [27]:
%%sql 
DROP TABLE IF EXISTS "songplays";
CREATE TABLE "songplays" (
    songplay_id         bigint          IDENTITY(0,1)   not null,
    start_time          timestamp       not null sortkey,
    user_id             varchar(64)     not null,
    level               varchar(16)     not null,
    song_id             varchar(64)     not null,
    artist_id           varchar(64)     not null,
    session_id          varchar(64)     not null,
    location            varchar(256)    not null,
    user_agent          varchar(256)    not null
)
DISTSTYLE ALL;

 * postgresql://dwhuser:***@dwhcluster.coh0h3ruhibv.us-west-2.redshift.amazonaws.com:5439/dwh
Done.
Done.

[]

#### Load values into sonplays fact table

In [83]:
%%sql 
INSERT into songplays(start_time, user_id, level, song_id, artist_id, session_id, location, user_agent)
SELECT ts, userId, level, song_id, artist_id, sessionid, a.location, useragent
from staging_events_table a,staging_songs_table b
where a.song = b.title and a.artist = b.artist_name and page = 'NextSong'

 * postgresql://awsuser:***@redshift-cluster.cr4bzpvdzv9c.us-west-2.redshift.amazonaws.com:5439/dev
333 rows affected.

[]

#### Table data check

In [45]:
%%sql
SELECT * 
FROM songplays
ORDER BY songplay_id
LiMIT 5

 * postgresql://awsuser:***@redshift-cluster.cr4bzpvdzv9c.us-west-2.redshift.amazonaws.com:5439/dev
5 rows affected.

[(0, datetime.datetime(2018, 11, 21, 21, 56, 47, 796000), '15', 'paid', 'SOZCTXZ12AB0182364', 'AR5KOSW1187FB35FF4', '818', 'Chicago-Naperville-Elgin, IL-IN-WI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"'),
 (1, datetime.datetime(2018, 11, 26, 18, 25, 34, 796000), '92', 'free', 'SONQBUB12A6D4F8ED0', 'ARFCUN31187B9AD578', '938', 'Palestine, TX', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (2, datetime.datetime(2018, 11, 9, 17, 55, 0, 796000), '80', 'paid', 'SOAOJYY12A58A7B2F9', 'ARFVYJI1187B9B8E13', '416', 'Portland-South Portland, ME', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (3, datetime.datetime(2018, 11, 24, 12, 43, 0, 796000), '73', 'paid', 'SONQBUB12A6D4F8ED0', 'ARFCUN31187B9AD578', '692', 'Tampa-St. Petersburg-Clearwater, FL', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"'),
 (4, datetime.datetime(2018, 11, 26, 15, 33, 56, 796000), '72', 'paid', 'SODOLVO12B0B80B2F4', 'AR6XPWV1187B9ADAEB', '381', 'Detroit-Warren-Dearborn, MI', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:30.0) Gecko/20100101 Firefox/30.0')]

### Rows per table

In [85]:
%%sql
select tab.table_schema, tab.table_name, tinf.tbl_rows as rows
from svv_tables tab join svv_table_info tinf on tab.table_schema = tinf.schema and tab.table_name = tinf.table
where tab.table_type = 'BASE TABLE' and tab.table_schema not in('pg_catalog','information_schema') and tinf.tbl_rows > 1
order by tinf.tbl_rows desc;

 * postgresql://awsuser:***@redshift-cluster.cr4bzpvdzv9c.us-west-2.redshift.amazonaws.com:5439/dev
7 rows affected.

[('public', 'staging_songs_table', Decimal('14896')),
 ('public', 'songs', Decimal('14896')),
 ('public', 'artists', Decimal('10025')),
 ('public', 'staging_events_table', Decimal('8056')),
 ('public', 'time', Decimal('8023')),
 ('public', 'songplays', Decimal('333')),
 ('public', 'users', Decimal('105'))]